# --- Core server ---
Flask==3.0.3
gunicorn==23.0.0
python-dotenv==1.0.1
pydantic==2.9.2
typing_extensions==4.12.2

# --- IG SDK e dipendenze ---
trading-ig==0.0.21
requests==2.32.3
munch==4.0.0
pandas==2.2.2
